body {
  background: #ccc;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
.relative {
  position: relative;
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
}
h2 {
  font-family: "Syncopate", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 7rem;
  color: #fff;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 4.2rem;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 2.3rem;
  font-weight: 700;
}
.container-total {
  overflow-x: hidden;
}
.color-blue {
  color: #224364;
}
/* margenes personalizados*/
.mt-8 {
  margin-top: 8rem;
}
.pb-10 {
  padding-bottom: 10rem;
}
/* video background */
#background-video-fondo-triangulos {
  height: 100vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  position: fixed;
  z-index: -1;
}
/* video background header*/
#background-video-header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  /* position: fixed; */
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.bg-oscuro {
  height: 100vh;
  background:  linear-gradient(
      339.73deg,
      rgba(1, 12, 43, 0.2) 14.14%,
      rgba(1, 7, 24, 0.8) 77.68%);
  /* background: radial-gradient(circle at 60%,rgba(16, 44, 73,0), rgba(16, 44, 73,.8) 60%); */
  width: 100%;
}
header {
  position: absolute;
  z-index: 6;
  top: 20px;
  width: 100vw;
  color: #fff;
}
.textBaner {
  padding: 6rem;
}
.txt {
  padding-top: 4rem;
}
.text-block {
  font-size: 1.3rem;
  line-height: 1.7rem;
}
/* datos */

.bg-claro {
  /* min-height: 100vh; */
  background: linear-gradient(
    339.73deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.95)
  );
  width: 100%;
}
.face1 {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 5;
  opacity: 0.8;
}
/*consultoria*/

.title-page {
  font-family: Syncopate;
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;
  color: #c6d7ea;
}
.title-page-dark {
  font-family: Syncopate;
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;
  color: #4673a3;
}
.title-page .destacado,
.title-page-dark .destacado {
  font-size: 53px;
  line-height: 55px;
  color: #234364;
}
.img-consultoria {
  position: relative;
  z-index: 3;
}

.triangle1 {
  position: absolute;
  top: -100px;
  left: -100px;
  color: #fff;
}
.text-triangle {
  position: relative;
  top: 10%;
  left: 8%;
  z-index: 2;
  color: #fff;
  width: 40%;
}
.triangle2 {
  position: absolute;
  top: -120px;
  right: -100px;
  color: #fff;
}
.text-triangle2 {
  position: relative;
  top: 20%;
  left: 30%;
  z-index: 2;
  color: #fff;
  width: 40%;
}
/*contenido*/
.bg-contenido {
  background: linear-gradient(
    53.07deg,
    rgba(148, 179, 231, 0.95) 7.6%,
    rgba(229, 235, 236, 0.9) 86.9%
  );
}
.face2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0.8;
}
.img-writing {
  margin-top: -30px;
  margin-left: 30px;
}
.rounded-img {
  border-radius: 29px;
}
.img-gestion {
  margin-top: -30px;
  margin-right: 30px;
}
/*produccion*/
.bg-produccion {
  background: url("../img/bg-green.png");
  background-size: cover;
}
.face3 {
  position: absolute;
  left: 0;
  top: -5px;
  z-index: 5;
}

/*slick efects*/
.slick-list {
  overflow: visible;
}
.slick-prev,
.slick-next {
  color: #8fe3e9;
  border: 1px solid #224364;
}
.slick-current {
  transform: scale(1.2);
  transition-timing-function: linear;
  opacity: 1 !important;
}

.slick-slide {
  transition-duration: 2s;
  transition-property: transform;
  transition-timing-function: ease;
  opacity: 0.3;
}
.slick-slide:hover {
  transform: scale(1.2);
}



/******/

.box{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.block {
  position: relative;
  width: 580px;
  height: 460px;
  margin: 10px 20px 20px 80px;
}



.block-1 {
  background: url(../img/EFH_2.png) no-repeat 50% 50%;
  background-size: contain;
}

.block-2 {
  background: url(../img/EFH_2.png) no-repeat 50% 50%;
  background-size: contain;
}

.block-3 {
  background: url(../img/EFH_2.png) no-repeat 50% 50%;
  background-size: contain;
}

.block-4 {
  background: url(../img/EFH_2.png) no-repeat 50% 50%;
  background-size: contain;
}

.block-5 {
  background: url(../img/EFH_2.png) no-repeat 50% 50%;
  background-size: contain;
}



.block-1 h1,
.block-3 h1,
.block-5 h1 {
  bottom: 0;
  right: -60px;
}

.block-2 h1,
.block-4 h1 {
  right: -60px;
}
